/******************************************************************************
                              Base Styles
******************************************************************************/
body {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #333;
}

/******************************************************************************
                              File Input Styles
******************************************************************************/
.fileInputForm {
  width: 40em;
  margin: 3em auto;
  text-align: center;
}
.fileInputForm .fileInputForm__label {
  width: 20em;
  padding: 15px;
  background-color: #a3b1c0;
  border-radius: 3px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  display: block;
  cursor: pointer;
}
.fileInputForm .fileInputForm__label:hover {
  background: #8b9caf;
}
.fileInputForm .fileInputForm__input {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}
.fileInputForm .fileInputForm__submit {
  border: none;
  background-color: #a3b1c0;
  padding: 15px;
  border-radius: 3px;
  font-size: 1em;
  margin: 3em auto;
  width: 15em;
  color: #fff;
}
.fileInputForm .fileInputForm__submit:hover {
  background-color: #56c5de;
  cursor: pointer;
}

/******************************************************************************
                              Text Input Styles
******************************************************************************/
.textInputForm {
  text-align: center;
  width: 40em;
  margin: 3em auto;
}
.textInputForm .textInputForm__submit {
  border: none;
  background-color: #a3b1c0;
  padding: 15px;
  border-radius: 3px;
  font-size: 1em;
  color: #fff;
  margin-top: 1em;
}
.textInputForm .textInputForm__submit:hover {
  cursor: pointer;
}

.textInputForm__heading {
  text-align: center;
  margin-top: 2em;
}

/******************************************************************************
                              Tabs UI Config
******************************************************************************/
/******************************************************************************
                              Tabs UI Component
******************************************************************************/
.evo_c-markup__tabs {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
  color: white;
}

.evo_c-markup__item {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  z-index: 5;
  padding: 0.4375em 0.625em;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #C3CED9;
  border-right: 1px solid #C3CED9;
  border-left: 1px solid #C3CED9;
  border-bottom: 1px solid #C3CED9;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #a3b1c0;
  transition: background .3s ease;
}

.evo_c-markup__item:hover, .evo_c-markup__item:focus {
  background: #8b9caf;
  cursor: pointer;
}

.evo_c-markup__item.is-active {
  border-top: 3px solid #56c5de;
  border-bottom: 0;
  background-color: #F2F5FA;
  color: #56c5de;
}

@media screen and (min-width: 700px) {
  .evo_c-markup__item {
    margin-right: 10px;
  }

  .evo_c-markup__item:last-child {
    margin-right: 0;
  }
}
.evo_c-markup__container {
  position: relative;
  top: -1px;
  min-height: 0;
  border: 1px solid #C3CED9;
  border-bottom: none;
  background-color: #F2F5FA;
  transition: min-height .3s ease, padding .3s ease;
  overflow: hidden;
}

.evo_c-markup__container.is-expanded {
  border-bottom: 1px solid #C3CED9;
  min-height: 70vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.evo_c-markup__content {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity .3s ease;
}

.evo_c-markup__content.is-active {
  opacity: 1;
}

/** END TABS UI COMPONENT **/
